<div class="bd-content ps-lg-2">
  <h2>{{{or page.title 'Page Not Found'}}}</h2>
  <div class="text-center">
    <img src="https://www.animesxis.com.br/wp-content/uploads/2016/12/erro-404-anime-xis.jpg" alt="Page Not Found"
      class="img-fluid img-thumbnail d-xxl-block" />

    {{#each site.components}}
    {{#each ./versions}}
    {{~#if (eq this @root.page.displayVersion)}}
    <a class="btn btn-primary mt-3" href="{{{relativize ./url}}}">Về Trang Chủ</a>
    {{/if~}}
    {{/each}}
    {{/each}}
  </div>
</div>