<aside class="bd-sidebar" {{#if page.component}} data-component="{{page.component.name}}"
  data-version="{{page.version}}" {{/if}}>
  <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">

    {{#with page.componentVersion}}
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">{{{./title}}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
        data-bs-target="#bdSidebar"></button>
    </div>
    {{/with}}

    {{> nav-menu}}
  </div>
</aside>