ul.checklist {
  list-style: none;
}

.checklist i.fa {
  hyphens: none;
  font-style: normal;
}

ul.checklist p > i.fa-check-square-o:first-child,
ul.checklist p > i.fa-square-o:first-child {
  display: inline-flex;
  justify-content: center;
  width: 1.25rem;
  margin-left: -1.25rem;
}

ul.checklist i.fa-check-square-o::before {
  content: "\2713";
}

ul.checklist i.fa-square-o::before {
  content: "\2715";
}
