<!DOCTYPE html>
<html lang="vi">

<head>
  {{> head defaultPageTitle='Untitled'}}
</head>

<body data-bs-target="#TableOfContents" data-bs-spy="scroll">
  {{> header}}
  {{> body}}
  {{> footer}}
</body>

</html>